@page "/"
<p>Enter the diminsions then draw your Canvas</p>
<MatNumericUpDownField Label="Height" @bind-Value="Height" />
<MatNumericUpDownField Label="Width" @bind-Value="Width" />
<MatButton @onclick="DrawCanvas">Draw</MatButton>
<MatFileUpload Label="Drag your image here" OnChange="UploadImageAsync" />
<DrawGrid @ref="_drawGrid" Height="@Height" Width="@Width" />
<SnackBar @ref="_snackBar" />